/* Ref:  http://www.w3schools.com/css/css_syntax.asp */




@import url('https://fonts.googleapis.com/css?family=Orbitron|Press+Start+2P');
body { /* General style rules for the body section */
  height:100%;
	width: 100%;
}
body {
  background-image: url(/images2/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
}









#div1 { /* Matches element with id=SimpleDiv */
 position:absolute;
 left: 30%;
 top:30%;
}


#div2 {
color: white;
font-family: 'Press Start 2P', cursive;
 position: absolute;
 left:39%;
 top:15%;
 font-size: 100px;

}
#div3 {

	position: absolute;
  left:40%;
  top:40%;
}

#div5 {
  background-color: #D307FF;
  margin: 5%;
	padding:6px;
	clear: both;
}
